    <section class="black_section">
      <header id="header">
        <div class="logo_container">
            <img src="assets/images/logo/480696684_625110173601272_8992847948287714124_n (4).jpg>" alt="SS" width="500" height="600">

          <h3 id="logo">scripty<span id="four_white">.</span>sphere</h3>
        </div>
        <nav id="nav-bar">
          <ul class="nav_links">
            <li class="nav_item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav_item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav_item"><a href="/programs" class="nav-link">programs</a></li>
              <li class="nav_item"><a href="/member" class="nav-link">Members</a></li>
              <li class="nav_item"><a href="/blog" class="nav-link">Blog</a></li>
          </ul>
        </nav>
        <a href="/join" id="contact_link" class="link">
          <button class="contactme contact">Join us</button></a>
        <div class="hamburger"><span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
        
      </header>
